*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Inter-400";
    src: url(assets/fonts/static/Inter-Regular.ttf );
}
@font-face {
    font-family: "Inter-700";
    src: url(assets/fonts/static/Inter-Bold.ttf );
}
@font-face {
    font-family: "Inter-800";
    src: url(assets/fonts/static/Inter-ExtraBold.ttf );
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0rem;
    width: 73rem;
    margin: auto;
}
nav{
    display: flex;
    gap: 1rem;
    font-size: 0.9rem;
}
.link-nav{
    font-family: "Inter-400";
    color: hsl(236, 13%, 42%);
    text-decoration: none;
}
.link-nav:hover{
    color:  hsl(5, 85%, 63%);
}




main {
    width: 72rem;
    display: flex;
    margin: auto;
    margin-top: 2rem;
    gap: 3rem;
}
#principal-notice{
    width: 46rem;
}
#img-main {
    width: 730px;
}
#article-main {
    display: flex;
    padding: 2rem 0;
    justify-content: space-between;
}
#h1-main {
    font-family: "Inter-800";
    font-size: 3rem;
    width: 45%;
}
#coisas-main {
    width: 50%;
}
#p-main {
    font-family: "Inter-400";
    width: auto;
    line-height: 1.5rem;
    font-size: 1rem;
}
#btn-read-more {
    font-family: "Inter-700";
    background-color: hsl(5, 85%, 63%);
    border: none;
    padding: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    margin-top: 3rem;
    color: white;
    cursor: pointer;
    transition: 1s;
}
#btn-read-more:hover{
    background-color:  hsl(240, 100%, 5%);
}

#section-news {
    background-color: hsl(240, 100%, 5%);
    padding: 1.5rem;
    width: 21rem;
    height: 31rem;
}
#h1-news {
    font-size: 2rem;
    color: hsl(35, 77%, 62%);
    font-family: "Inter-800";
    margin-bottom: 1rem;
}
.h2-news a {
    color: white;
    font-family: "Inter-700";
    text-decoration: none;
    font-size: 1.3rem;
}
.h2-news a:hover {
    color: hsl(35, 77%, 62%);
}
.p-news {
    color: hsl(233deg 8% 79% / 53%);
    font-family: "Inter-400";
    font-size: 1.1rem;
    line-height: 1.6rem;
    margin-top: 0.4rem;
}
#line {
    width: 100%;
    height: 1px;
    background-color: hsl(233deg 8% 79% / 23%);
    margin: 2.5rem 0;
}



aside {
    width: 72rem;
    margin: 2rem auto;
}
ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7rem;
}
li{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
#article-aside{
    width:13rem;
}
.images-list-aside{
    width: 5rem;
}
.h1-aside-list {
    font-family: "Inter-700";
    color: hsl(233, 8%, 79%);
    font-size: 2rem;
}
.h2-aside-list a {
    font-size: 1rem;
    color: hsl(240, 100%, 5%);
    text-decoration: none;
    font-family: "Inter-700";
}
.h2-aside-list a:hover{
    color: hsl(5, 85%, 63%);
}
.p-aside-list {
    font-family: "Inter-400";
    color: hsl(233deg 2.9% 66.09%);
    line-height: 1.4rem;
    font-size: 0.9rem;
}













































.attribution {
    font-size: 11px;
    text-align: center;
    font-family: "Inter-700";
    margin-top: 4rem;
}
.attribution a { 
    color: hsl(5, 85%, 63%); 
}