*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Inter-400";
    src: url(assets/fonts/static/Inter-Regular.ttf );
}
@font-face {
    font-family: "Inter-700";
    src: url(assets/fonts/static/Inter-Bold.ttf );
}
@font-face {
    font-family: "Inter-800";
    src: url(assets/fonts/static/Inter-ExtraBold.ttf );
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0rem;
    width: 73rem;
    margin: auto;
}
.nav-desktop{
    display: flex;
    gap: 1rem;
    font-size: 0.9rem;
}
.menu{
    display: none;
}
.nav-menu{
    display: none;
}
.link-nav{
    font-family: "Inter-400";
    color: hsl(236, 13%, 42%);
    text-decoration: none;
}
.link-nav:hover{
    color:  hsl(5, 85%, 63%);
}




main {
    width: 72rem;
    display: flex;
    margin: auto;
    margin-top: 2rem;
    gap: 3rem;
}
#principal-notice{
    width: 46rem;
}
#img-main {
    width: 730px;
}
#article-main {
    display: flex;
    padding: 2rem 0;
    justify-content: space-between;
}
#h1-main {
    font-family: "Inter-800";
    font-size: 3rem;
    width: 45%;
}
#coisas-main {
    width: 50%;
}
#p-main {
    font-family: "Inter-400";
    width: auto;
    line-height: 1.5rem;
    font-size: 1rem;
}
#btn-read-more {
    font-family: "Inter-700";
    background-color: hsl(5, 85%, 63%);
    border: none;
    padding: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    margin-top: 3rem;
    color: white;
    cursor: pointer;
    transition: 1s;
    box-shadow: -1px 0px 15px #00000047;
}
#btn-read-more:hover{
    background-color:  hsl(240, 100%, 5%);
}

#section-news {
    background-color: hsl(240, 100%, 5%);
    padding: 1.5rem;
    width: 21rem;
    height: 37rem;
}
#h1-news {
    font-size: 2rem;
    color: hsl(35, 77%, 62%);
    font-family: "Inter-800";
    margin-bottom: 1rem;
}
.h2-news a {
    color: white;
    font-family: "Inter-700";
    text-decoration: none;
    font-size: 1.3rem;
}
.h2-news a:hover {
    color: hsl(35, 77%, 62%);
}
.p-news {
    color: hsl(233deg 8% 79% / 53%);
    font-family: "Inter-400";
    font-size: 1.1rem;
    line-height: 1.6rem;
    margin-top: 0.4rem;
}
#line {
    width: 100%;
    height: 1px;
    background-color: hsl(233deg 8% 79% / 23%);
    margin: 2.5rem 0;
}



aside {
    width: 72rem;
    margin: 2rem auto;
}
ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7rem;
}
li{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
#article-aside{
    width:13rem;
}
.images-list-aside{
    width: 5rem;
}
.h1-aside-list {
    font-family: "Inter-700";
    color: hsl(233, 8%, 79%);
    font-size: 2rem;
}
.h2-aside-list a {
    font-size: 1rem;
    color: hsl(240, 100%, 5%);
    text-decoration: none;
    font-family: "Inter-700";
}
.h2-aside-list a:hover{
    color: hsl(5, 85%, 63%);
}
.p-aside-list {
    font-family: "Inter-400";
    color: hsl(233deg 2.9% 66.09%);
    line-height: 1.4rem;
    font-size: 0.9rem;
}


@media (max-width: 1200px){
    header {
        width: 95vw;
    }
    main {
        width: 100vw;
        display: flex;
        justify-content: center;
        margin: auto;
        margin-top: 2rem;
        gap: 1rem;
    }
    .p-news {
        font-size: 1rem;
    }
    .h2-news a {
        font-size: 1.2rem;
    }
    #section-news {
        background-color: hsl(240, 100%, 5%);
        padding: 1.5rem;
        width: 18rem;
        height: 35rem;
    }
    aside {
        width: 90vw;
        margin: 2rem auto;
        justify-content: center;
    }
    .p-aside-list {
        line-height: 1rem;
        font-size: 0.8rem;
    }
    ul {
        gap: 1rem;
    }
    #line {
        margin: 1.5rem 0;
    }
}

@media (max-width:1122px) {
    #img-main {
        width: 600px;
    }
    #h1-main {
        font-size: 2rem;
        width: 30%;
    }
    #principal-notice {
        width: 37rem;
    }
    #p-main {
        line-height: 1.5rem;
        font-size: 0.9rem;
    }
    #coisas-main {
        width: 56%;
    }
    #btn-read-more {
        padding: 0.7rem;
        font-size: 0.7rem;
        letter-spacing: 0.2rem;
        margin-top: 1rem;
    }
    #section-news {
        background-color: hsl(240, 100%, 5%);
        padding: 1.5rem;
        width: 18rem;
        height: 32rem;
    }
    .p-news {
        font-size: 0.9rem;
    }
    .h2-news a {
        font-size: 1.1rem;
    }
    #h1-news {
        font-size: 1.6rem;
        color: hsl(35, 77%, 62%);
        font-family: "Inter-800";
        margin-bottom: 1rem;
    }
}

@media (max-width:948px){
    main {
        width: 35rem;
        align-items: baseline;
        flex-direction: column;
        margin: auto;
        margin-top: 2rem;
        gap: 1rem;
    }
    #article-main {
        display: flex;
        flex-direction: column;
        padding: 2rem 0;
        justify-content: center;
        align-items: baseline;
    }
    ul {
        gap: 1rem;
        align-items: baseline;
        flex-direction: column;
        justify-content: center;
    }
    aside {
        width: 35rem;
    }
    #h1-main {
        font-size: 3rem;
        width: 50%;
    }
    header {
        width: 35rem;
    }
    #coisas-main {
        width: 83%;
    }
}
@media (max-width:650px){
    header {
        width: 90vw;
    }
    aside {
        width: 90vw;
    }
    main {
        width: 90vw;
    }
    #principal-notice {
        width: auto;
    }
    #img-main {
        width: 90vw;
    }
}
@media (max-width:590px){
 
    #h1-main {
        font-size: 2.5rem;
        width: 48%;
    }
    #coisas-main {
        width: 90%;
    }
    #article-main {
        gap: 1rem;
    }
  

}
@media (max-width:539px){
    #h1-main {
        font-size: 2.5rem;
        width: 100%;
    }
    #section-news {
        padding: 1.5rem;
        width: 90%;
        height: auto;
    }
    #logo{
        width: 3rem;
    }
}

@media(max-width:471px){
    header {
        width: 100vw;
        padding: 1rem 0 ;
    }
    #h1-main {
        font-size: 2rem;
        width: 70%;
    }
    .h1-aside-list {
        font-family: "Inter-700";
        color: hsl(233, 8%, 79%);
        font-size: 1.5rem;
    }
    .nav-desktop{
        display: none;
    }
    .nav-list{
        display: flex;
        flex-direction: column;
        width: auto;
        padding-top: 6rem;
        font-size: 2rem;
        align-items: center;
        margin: auto;
        line-height: 4.5rem;
    }
    .menu{
        display: block;
        position: relative;
    }
    .menu img{
        cursor: pointer;
    }
    .nav-menu {
        display: none;
        position: absolute;
        background-color: hsl(240deg 100% 5% / 95%);
        height: 90vh;
        width: 100vw;
        top: 4vh;
        right: 0px;
        transform: translateX(0%);
    }
}
@media (max-width:376px){
    main {
        width: 100vw;
        margin-top: 1rem;
    }
    header {
        padding: 1rem 0rem;
    }
    #article-main {
        gap: 1rem;
        padding-left: 1rem;
    }
    #img-main {
        width: 100vw;
    }
    #section-news {
        width: auto;
        height: auto;
    }
    #h1-main {
        font-size: 2rem;
        width: 75%;
    }
    
}







































.attribution {
    font-size: 11px;
    text-align: center;
    font-family: "Inter-700";
    margin-top: 4rem;
}
.attribution a { 
    color: hsl(5, 85%, 63%); 
}